#entries__layout {
    background-color: white;
    color: rgb(117,64,238);
}

#entries__layout .control {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
}

.control button#new {
    margin-bottom: 2px;
}

.entry:nth-of-type(even) {
    border-radius: 10px 10px 0 10px;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: 0;
    background: rgb(117,64,238);
    background: linear-gradient(90deg, rgba(117,64,238,1) 0%, rgba(162,0,255,1) 100%);
    color: white;
}

.entry:nth-of-type(odd) {
    border-radius: 10px 10px 10px 0;
    margin-left: 0;
    margin-right: auto;
    background-color: #e0e0e0;
    color: rgb(117,64,238);
}

.entry {
    min-width: 250px;
    max-width: 400px;
    width: 90%; 
    padding: 1rem;
}

.entry > div {
    text-align: right;
}

.temp {
    margin-bottom: 0;
}

.entries {
    margin: 1rem;
    max-width: 520px;
    padding-bottom: 6rem;
}

#entries__layout h1 {
    margin-left: 1rem;
}
