.fieldset {
    padding: 2rem;
    border-radius: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 2rem 0;
}

.fieldset > * {
    color: rgb(117,64,238);
}

.form {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}

#new__layout {
    background: rgb(117,64,238);
    background: linear-gradient(90deg, rgba(117,64,238,1) 0%, rgba(162,0,255,1) 100%);
    color: white;
}
